<div class="container home-container cursor  mt-2">
    <div class="d-flex flex-row justify-content-around align-item-center mb-3">
        <div class="p-2">
            <a>
                <img src="https://www.medibuddy.in/assets/services/doctor.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Talk To Doctor</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a routerLink="/medicine-home" class="text-decoration-none">
                <img src="https://www.medibuddy.in/assets/services/medicine.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Medicines</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a>
                <img src="https://www.medibuddy.in/assets/services/surgery.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Surgery</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a>
                <img src="https://www.medibuddy.in/assets/services/insurance.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Insurance</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a>
                <img src="	https://www.medibuddy.in/assets/services/labtest.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">Lab Tests</h6>
            </a>
        </div>
        <div class="p-2 ">
            <a>
                <img src="	https://www.medibuddy.in/assets/icons/more.svg" alt="" height="50" width="100">
                <h6 class="text-center mt-1">More..</h6>
            </a>
        </div>
    </div>

</div>

<div class="container home-container mt-2 p-4 rounded-pill border shadow-sm">
    <div class="row">
        <div class="col-md-6 text-end">
            <h5 class="pt-3">Consult with Top Doctor Online 24x7</h5>
        </div>
        <div class="col-md-4">
            <p class="border p-3 text-center text-primary rounded-pill border shadow-sm">Start Consultation <i
                    class="bi bi-arrow-right fs-5 ms-2 mt-3"></i></p>
        </div>

    </div>
</div>

<div class="container w-75 mt-4">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="https://views.medibuddy.in/homePageBanners/womens-md.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://views.medibuddy.in/surgeryBanners/surg_carousel_updated.png" class="d-block w-100"
                    alt="...">
            </div>
            <div class="carousel-item">
                <img src="https://www.medibuddy.in/assets/gold-home.webp" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>

<div class="container w-75 mt-4">
    <div class="row">
        <img src="https://www.medibuddy.in/assets/ABHA.svg" alt="">
    </div>
</div>

<div class="container w-75 mt-4">
    <div class="row">
        <div class="col-md-6">
            <p><strong>"Amitabh Bachchan emphasize the importance of Unlimited Expert Doctor Consultations online for
                    the entire family."</strong>
                 </p>
                 <div class="row"><span class="text-center text-primary mb-3" > Download The App</span>
                    <div class="col-md-6">
                    <img src="https://www.medibuddy.in/assets/images/android.png" height="50%">
                    </div>
                    <div class="col-md-6">
                     <img src="https://www.medibuddy.in/assets/images/ios.png" height="50%">
                    </div>

                 </div>
        </div>
        <div class="col-md-6">
            <video height="100%" width="100%" controls poster="https://www.medibuddy.in/assets/ab-main-page.webp" style="border-radius: 16px">
                    <source src="https://www.medibuddy.in/assets/mb-amitabh.mp4" type="video/mp4">
            </video>
        </div>

    </div>

</div>

<div class="container w-75 mt-5">
    <div class="row">
        <div class="col-md-6">
           <h4 class="mt-1 " style="color: rgb(197, 99, 43);">MediBuddy <span style="color:gold;">GOLD</span> </h4>
           <h3 class="mt-4">Give the care your family deserves</h3>
           <h6 class="mt-4 fs-5">Unlimited Consultations with top Doctors for 6 family members in 18+ specialities</h6>
           <p class="border mt-5 w-50 p-2 text-center rounded-pill fw-bold gold-btn">Buy MedLife Gold <span><i class="bi bi-arrow-right fs-4 pt-2 ms-2"></i></span></p>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="card rounded-3" style="width: 15rem; background-color: burlywood;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/unlimited-consultations.svg" class=" mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Unlimited Free Consultations</h5>
                        <p class="card-text text">Get unlimited free consult with all <strong> doctors 24x7.</strong></p>
                    </div>
                </div>
                <div class="card ms-4 rounded-3 info" style="width: 15rem;background-color: coral;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/family.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Free For Full Family</h5>
                        <p class="card-text text">Free consultations for upto <strong> 6 family members</strong>.</p>
                    </div>
                </div>
                <div class="card mt-4 rounded-3" style="width: 15rem; background-color: coral;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Free For All Health Problems</h5>
                        <p class="card-text text">Consult with any doctor from <strong>18 departments </strong> at any time.</p>
                    </div>
                </div>
                <div class="card ms-4 mt-4 rounded-3 info" style="width: 15rem; background-color: burlywood;">
                    <img src="https://www.medibuddy.in/assets/services/mb-gold/free-health.svg" class="mt-2" alt="..." height="100" width="100">
                    <div class="card-body">
                        <h5 class="card-title title">Video Consultations</h5>
                        <p class="card-text text">Video Consults with top doctors  <strong>24x7.</strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-4">

</div>