<div class="row">
  <div class="alert alert-danger" role="alert" *ngIf="isNewUser">
    User Does't Exist,Please Register First!
  </div>
</div>


<form [formGroup]="signInform" (ngSubmit)="signIn()">
  <div class="mb-3">
    <label for="uname" class="form-label">User Name</label>
    <input type="text" class="form-control" id="uname" aria-describedby="emailHelp" formControlName="userName">
  </div>
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input type="password" class="form-control" id="pwd" formControlName="password">
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <div class="d-grid gap-2">
    <button type="submit" class="btn btn-primary">Submit</button>
  </div>
</form>
